@import url("base.css");

/************** Design Steps *************
1. google fonts
2. default style
3. header
4. hero section
5. service section
6. review section
7. blog section
8. free guide section
9. cta section
10. footer section
*****************************************/

/* 1. google fonts */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800&display=swap");

/* 2. default style */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

html {
  line-height: 1.15;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

p,
span {
  color: #4a556c;
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

a {
  color: unset;
}

img {
  border-style: none;
}

/* 3. header */
header {
  padding-block: 1rem;
}

.navbar-nav {
  margin-left: auto;
}
.navbar-nav ul {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.navbar-nav ul li {
  display: flex;
  list-style: none;
  padding: 0 15px;
}

.navbar-nav ul li a {
  color: var(--txt-clolor);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  transition: 0.25s ease-in-out;
}

.navbar-nav ul li a:hover {
  color: var(--primary-color);
}

.lock-scroll {
  height: 100vh !important;
  overflow: hidden !important;
}

.menu-icon {
  display: none;
  width: 30px;
  height: 25px;
}

.menu-icon i {
  font-size: 28px;
  position: absolute;
  color: black;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

/* sticky style */
.page-header.is-sticky {
  position: fixed;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  animation: slideDown 0.35s ease-out;
  width: 100%;
  z-index: 999999;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/********** mobile responsive ***********/
@media (max-width: 992px) {
  .menu-icon {
    display: inline-block;
  }

  .navbar-nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 55px;
    text-align: center;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    z-index: 9999;
  }

  .navbar-nav ul li {
    margin: 10px 0;
    line-height: 30px;
  }

  .navbar-nav ul.show {
    left: 0;
  }
}

/* 4. hero section */
.hero-sec {
  width: 100%;
  height: 677px;
  background: #faf8f6;
  padding-top: 55px;
}

.hero-wrapper.d-flex {
  align-items: normal !important;
}

.hr-vector {
  position: absolute;
  left: -50px;
  top: 20px;
}

.hr-content {
  display: block;
  padding-top: 7rem;
}

.hr-content span {
  opacity: 0.4;
}

.hr-title {
  display: block;
  width: 45%;
  color: var(--title-color);
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.72px;
}

.hr-subtitle {
  display: block;
  width: 44%;
  font-size: 18px;
  line-height: 160%;
  margin-block: 18px;
}

.hr-img {
  position: absolute;
  right: 85px;
  top: 75px;
  width: 462px;
  height: 576px;
}

.success-rate {
  display: flex;
  justify-content: flex-end;
  width: 237px;
  height: 104px;
  position: absolute;
  right: 424px;
  top: 24px;
  background: #fff;
  box-shadow: 0px 16px 96px 0px rgba(111, 124, 144, 0.16);
  padding: 24px;
  z-index: 9999;
}

.success-rate img {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 16px;
}

.rate-content h6 {
  color: var(--title-color);
  font-size: 24px;
  font-weight: 800;
}

.rate-content span {
  color: var(--txt-clolor);
  font-size: 12px;
  font-weight: 400;
}

/********** mobile responsive ***********/
@media (max-width: 1025px) {
  .hero-sec {
    height: 607px;
  }

  .hr-vector {
    left: 0px;
  }

  .hr-title {
    font-size: 56px;
  }

  .hr-img {
    width: 390px;
    height: 500px;
    right: 82px;
    top: 88px;
  }

  .success-rate {
    width: 211px;
    height: 92px;
    right: 365px;
    top: 44px;
  }

  .success-rate img {
    width: 46px;
    height: 46px;
    left: 16px;
  }

  .rate-content h6 {
    font-size: 16px;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .hero-wrapper.d-flex {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .hr-title,
  .hr-subtitle {
    width: 100%;
  }

  .hr-img {
    position: static;
    width: 70%;
    height: 60%;
    margin-top: 32px;
  }

  .success-rate {
    width: 216px;
    height: 95px;
    right: 489px;
    top: -9px;
  }
}

@media (max-width: 426px) {
  .hero-sec {
    height: 650px;
  }

  .hr-title {
    font-size: 46px;
  }

  .hr-subtitle {
    font-size: 16px;
  }

  .hr-btn a {
    padding: 0px 15px !important;
  }

  .hr-img {
    width: 85%;
    margin-top: 56px;
  }

  .success-rate {
    width: 220px;
    height: 90px;
    right: 130px;
    top: 12px;
  }
}

@media (max-width: 376px) {
  .hero-sec {
    height: 685px;
  }

  .success-rate {
    width: 217px;
    right: 94px;
  }

  .hr-img {
    width: 90%;
  }
}

@media (max-width: 321px) {
  .success-rate {
    right: 55px;
  }

  .hr-img {
    width: 100%;
  }
}

/* 5. service section */
.service-wrapper {
  padding: 96px 100px 61px 100px;
}

.service-wrapper.d-flex {
  align-items: normal;
}

.service-title,
.service-data {
  width: 50%;
}

.service-title .sec-title {
  margin-block: 1.8rem;
}

.service-data p {
  font-size: 17px;
  padding-inline: 2rem;
  margin-top: 2.5rem;
}

.service-card {
  padding-inline: 132px;
}

.sc-single-card h4 {
  margin: 2rem 0 1rem 0;
  font-size: 24px;
  font-weight: 700;
}

/********** mobile responsive ***********/
@media (max-width: 1025px) {
  .service-wrapper {
    padding: 96px 80px 61px 80px;
  }

  .service-data p {
    padding-inline: 1rem;
  }

  .service-card {
    padding-inline: 80px;
  }
}

@media (max-width: 768px) {
  .service-sec {
    margin-top: 38rem;
  }

  .service-wrapper.d-flex {
    flex-wrap: wrap;
    text-align: center;
    gap: 0;
  }

  .service-title,
  .service-data {
    width: 100%;
  }

  .service-card.row-grid {
    grid-template-columns: auto;
    gap: 40px;
  }
}

@media (max-width: 426px) {
  .service-sec {
    margin-top: 24rem;
  }

  .service-wrapper {
    padding: 80px 15px 50px 15px;
  }

  .service-title .sec-title {
    margin-block: 1rem;
    font-size: 36px;
  }

  .service-data p {
    padding-inline: 0.5rem;
    font-size: 15px;
    margin-top: 10px;
  }

  .service-card {
    padding-inline: 20px;
  }

  .sc-single-card {
    text-align: center;
  }
}

@media (max-width: 376px) {
  .service-wrapper {
    padding: 40px 0px 40px 0px;
  }
}

@media (max-width: 321px) {
  .service-sec {
    margin-top: 27rem;
  }

  .service-title .sec-title {
    font-size: 28px;
    line-height: 40px;
  }

  .service-card {
    padding-inline: 0px;
  }
}

/* 6. review section */
.review-sec {
  background: #faf8f6;
  padding-block: 7.5rem;
  margin-top: 5rem;
}

.review-sec .container .sec-title {
  width: 47%;
}

.swiper {
  margin-top: 37px;
}

.review-card {
  background: #fff;
  box-shadow: 0px 96px 96px 0px rgba(177, 186, 200, 0.12);
  display: inline-flex;
  padding: 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  cursor: pointer;
}

.review-card h4 {
  color: var(--txt-clolor);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.72px;
}

.review-card h6 {
  color: var(--title-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.72px;
}

/********** mobile responsive ***********/
@media (max-width: 1025px) {
  .review-sec .container .sec-title {
    width: 60%;
  }

  .container-fluid {
    padding-inline: 0;
  }
}

@media (max-width: 768px) {
  .review-sec {
    padding-block: 2.5rem;
  }

  .review-sec .container .sec-title {
    width: 90%;
    text-align: center;
    margin-inline: auto;
  }

  .review-card h4,
  .review-card h6 {
    font-size: 20px;
  }
}

@media (max-width: 426px) {
  .review-sec .container .sec-title {
    font-size: 36px;
    width: 100%;
  }
}

/* 7. blog section */
.blog-sec {
  margin-block: 4rem;
}

.blog-sec .container .sec-title {
  text-align: center;
  margin-inline: auto;
  width: 50%;
}

.blog-cards {
  margin-block: 3rem;
}

.blog-cards img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.blog-single-card {
  box-shadow: 0 0px 7px rgb(0 0 0 / 0.1);
}

.blog-single-card:hover img {
  transform: scale(0.9);
}

.blog-btn {
  display: flex;
  margin-inline: auto;
}

.blog-card-content {
  padding: 1.7rem;
}

.blog-card-content h4 {
  font-size: 24px;
  font-weight: 700;
  margin-block: 1rem;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.blog-card-content h4:hover {
  color: var(--primary-color);
}

/********** mobile responsive ***********/
@media (max-width: 1025px) {
  .blog-sec .container .sec-title {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .blog-cards.row-grid {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

@media (max-width: 426px) {
  .blog-sec .container .sec-title {
    font-size: 36px;
    width: 100%;
  }
}

/* 8. free guide section */
.free-guide-sec {
  padding-block: 4rem;
}

.free-guide-content {
  flex-basis: 50%;
}

.free-guide-img {
  padding-right: 4rem;
}

.free-guide-content .sec-title {
  width: 85%;
  margin-block: 1.5rem;
}

.free-guide-content span {
  display: block;
  width: 75%;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.free-guide-content p {
  width: 88%;
}

.free-guide-content button {
  margin-top: 1.3rem;
}

.free-guide-circle {
  width: 96px;
  height: 96px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -33px;
  right: -33px;
}

.free-guide-circle h6 {
  color: #fff;
  padding-inline: 5px;
  font-size: 14px;
}

/********** mobile responsive ***********/
@media (max-width: 768px) {
  .free-guide-sec {
    padding-top: 0;
  }

  .free-guide-sec .container .d-flex {
    flex-direction: column;
    gap: 5rem;
  }

  .free-guide-content .sec-title,
  .free-guide-content span,
  .free-guide-content p {
    width: 100%;
    text-align: center;
  }

  .free-guide-content button {
    display: flex;
    margin-inline: auto;
  }

  .free-guide-img {
    padding-right: 0;
  }
}

@media (max-width: 426px) {
  .free-guide-content .sec-title {
    font-size: 36px;
  }

  .free-guide-img img {
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .free-guide-circle {
    width: 76px;
    height: 76px;
    top: -23px;
    right: -9px;
  }

  .free-guide-circle h6 {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .free-guide-img img {
    width: 100%;
  }
}

/* 9. cta section */
.cta-sec {
  padding-block: 2rem;
}
.cta-wrapper {
  background: #faf8f6;
  border-radius: 20px;
}

.cta-content {
  padding-left: 3rem;
}

.cta-content h3 {
  width: 80%;
  padding-bottom: 1rem;
  font-size: 36px;
  color: var(--title-color);
}

.cta-content p {
  font-size: 20px;
  opacity: 0.4;
}

.cta-content button {
  padding: 0.5rem 4rem;
  margin-top: 2rem;
}

.cta-img img {
  display: block;
  width: 100%;
  border-radius: 20px !important;
}

/********** mobile responsive ***********/
@media (max-width: 768px) {
  .cta-content h3 {
    font-size: 30px;
    width: 100%;
  }

  .cta-content p {
    font-size: 17px;
  }
}

@media (max-width: 426px) {
  .cta-wrapper .d-flex {
    flex-direction: column;
    gap: 3rem;
  }

  .cta-content {
    padding-left: 0;
    padding-top: 2rem;
    text-align: center;
  }

  .cta-content h3 {
    font-size: 26px;
  }
}

@media (max-width: 376px) {
  .cta-content button {
    padding-inline: 2rem;
  }
}

/* 10. footer section */

/* footer top */
footer {
  padding-bottom: 6rem;
}

.footer-top {
  background: #faf8f6;
}

.ft-wrapper {
  padding-block: 2.5rem;
  margin-block: 4rem;
}

.notified h3 {
  color: var(--title-color);
  font-size: 30px;
  margin-bottom: 1.5rem;
}

.notified p {
  font-size: 20px;
}

.subscribe #email {
  border-radius: 10px;
  padding: 11px 30px;
  width: 250px;
  border: 1px solid #d0d5dd;
  margin-right: 10px;
}

.subscribe button {
  padding-inline: 32px;
}

/********** mobile responsive ***********/
@media (max-width: 1025px) {
  .ft-wrapper.d-flex {
    flex-direction: column;
    gap: 30px;
  }

  .ft-wrapper {
    text-align: center;
  }
}

@media (max-width: 426px) {
  .notified h3 {
    font-size: 24px;
  }

  .notified p {
    font-size: 16px;
  }

  .subscribe #email {
    width: 180px;
  }

  .subscribe button {
    padding-inline: 10px;
  }
}

@media (max-width: 376px) {
  .subscribe #email {
    width: 150px;
  }

  .subscribe button {
    padding-inline: 5px;
  }
}

@media (max-width: 321px) {
  .subscribe #email {
    width: 140px;
  }
}

/* footer bottom */
.fb-wrapper.row-grid {
  place-items: start;
}

.fb-logo p {
  margin-top: 2rem;
  opacity: 0.5;
  width: 80%;
}

.fb-content h6 {
  font-size: 14px;
}

.fb-content ul li a {
  font-size: 14px;
  color: var(--txt-clolor);
  opacity: 0.5;
}

.fb-content ul li a:hover {
  color: var(--primary-color);
}

/********** mobile responsive ***********/
@media (max-width: 426px) {
  .fb-wrapper.row-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .fb-wrapper,
  .fb-content {
    text-align: center;
    margin: 0 auto;
  }

  .fb-logo p {
    width: 100%;
  }
}
