@import url("base.css");

/************** Design Steps *************
1. google fonts
2. default style
3. header
4. hero section
5. service section
6. review section
*****************************************/

/* 1. google fonts */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800&display=swap");

/* 2. default style */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

html {
  line-height: 1.15;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

p,
span {
  color: #4a556c;
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

a {
  color: unset;
}

img {
  border-style: none;
}

/* 3. header */
header {
  padding-block: 1rem;
}

.navbar-nav {
  margin-left: auto;
}
.navbar-nav ul {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.navbar-nav ul li {
  display: flex;
  list-style: none;
  padding: 0 15px;
}

.navbar-nav ul li a {
  color: var(--txt-clolor);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  transition: 0.25s ease-in-out;
}

.navbar-nav ul li a:hover {
  color: var(--primary-color);
}

.lock-scroll {
  height: 100vh !important;
  overflow: hidden !important;
}

.menu-icon {
  display: none;
  width: 30px;
  height: 25px;
}

.menu-icon i {
  font-size: 28px;
  position: absolute;
  color: black;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

/********** mobile responsive ***********/
@media (max-width: 992px) {
  .menu-icon {
    display: inline-block;
  }

  .navbar-nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 55px;
    text-align: center;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    z-index: 9999;
  }

  .navbar-nav ul li {
    margin: 10px 0;
    line-height: 30px;
  }

  .navbar-nav ul.show {
    left: 0;
  }
}

@media (max-width: 768px) {
  .nav-show-logo {
    display: none;
  }

  .nav-hide-logo {
    display: inline-block;
  }
}

/* 4. hero section */
.hero-sec {
  width: 100%;
  height: 677px;
  background: #faf8f6;
  padding-top: 55px;
}

.hero-wrapper.d-flex {
  align-items: normal !important;
}

.hr-vector {
  position: absolute;
  left: -50px;
  top: 20px;
}

.hr-content {
  display: block;
  padding-top: 7rem;
}

.hr-content span {
  opacity: 0.4;
}

.hr-title {
  display: block;
  width: 45%;
  color: var(--title-color);
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.72px;
}

.hr-subtitle {
  display: block;
  width: 44%;
  font-size: 18px;
  line-height: 160%;
  margin-block: 18px;
}

.hr-btn a {
  font-weight: 400 !important;
  line-height: 24px !important;
  padding: 0px 32px !important;
}

.hr-img {
  position: absolute;
  right: 85px;
  top: 75px;
  width: 462px;
  height: 576px;
}

.success-rate {
  display: flex;
  justify-content: flex-end;
  width: 237px;
  height: 104px;
  position: absolute;
  right: 424px;
  top: 24px;
  background: #fff;
  box-shadow: 0px 16px 96px 0px rgba(111, 124, 144, 0.16);
  padding: 24px;
  z-index: 9999;
}

.success-rate img {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 16px;
}

.rate-content h6 {
  color: var(--title-color);
  font-size: 24px;
  font-weight: 800;
}

.rate-content span {
  color: var(--txt-clolor);
  font-size: 12px;
  font-weight: 400;
}

/********** mobile responsive ***********/
@media (max-width: 1025px) {
  .hero-sec {
    height: 607px;
  }

  .hr-vector {
    left: 0px;
  }

  .hr-title {
    font-size: 56px;
  }

  .hr-img {
    width: 390px;
    height: 500px;
    right: 82px;
    top: 88px;
  }

  .success-rate {
    width: 211px;
    height: 92px;
    right: 365px;
    top: 44px;
  }

  .success-rate img {
    width: 46px;
    height: 46px;
    left: 16px;
  }

  .rate-content h6 {
    font-size: 16px;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .hero-wrapper.d-flex {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .hr-title,
  .hr-subtitle {
    width: 100%;
  }

  .hr-img {
    position: static;
    width: 70%;
    height: 60%;
    margin-top: 32px;
  }

  .success-rate {
    width: 216px;
    height: 95px;
    right: 489px;
    top: -9px;
  }
}

@media (max-width: 426px) {
  .hero-sec {
    height: 650px;
  }

  .hr-title {
    font-size: 46px;
  }

  .hr-subtitle {
    font-size: 16px;
  }

  .hr-btn a {
    padding: 0px 15px !important;
  }

  .hr-img {
    width: 85%;
    margin-top: 56px;
  }

  .success-rate {
    width: 220px;
    height: 90px;
    right: 130px;
    top: 12px;
  }
}

@media (max-width: 376px) {
  .hero-sec {
    height: 685px;
  }

  .success-rate {
    width: 217px;
    right: 94px;
  }

  .hr-img {
    width: 90%;
  }
}

@media (max-width: 321px) {
  .success-rate {
    right: 55px;
  }

  .hr-img {
    width: 100%;
  }
}

/* 5. service section */
.service-wrapper {
  padding: 96px 100px 61px 100px;
}

.service-wrapper.d-flex {
  align-items: normal;
}

.service-title,
.service-data {
  width: 50%;
}

.service-title .sec-title {
  margin-block: 1.8rem;
}

.service-data p {
  font-size: 17px;
  padding-inline: 2rem;
  margin-top: 2.5rem;
}

.service-card {
  padding-inline: 132px;
}

.sc-single-card h4 {
  margin: 2rem 0 1rem 0;
  font-size: 24px;
  font-weight: 700;
}

/********** mobile responsive ***********/
@media (max-width: 1025px) {
  .service-wrapper {
    padding: 96px 80px 61px 80px;
  }

  .service-data p {
    padding-inline: 1rem;
  }

  .service-card {
    padding-inline: 80px;
  }
}

@media (max-width: 768px) {
  .service-sec {
    margin-top: 38rem;
  }

  .service-wrapper.d-flex {
    flex-wrap: wrap;
    text-align: center;
    gap: 0;
  }

  .service-title,
  .service-data {
    width: 100%;
  }

  .service-card.row-grid {
    grid-template-columns: auto;
    gap: 40px;
  }
}

@media (max-width: 426px) {
  .service-sec {
    margin-top: 24rem;
  }

  .service-wrapper {
    padding: 80px 15px 50px 15px;
  }

  .service-title .sec-title {
    margin-block: 1rem;
    font-size: 36px;
  }

  .service-data p {
    padding-inline: 0.5rem;
    font-size: 15px;
    margin-top: 10px;
  }

  .service-card {
    padding-inline: 20px;
  }

  .sc-single-card {
    text-align: center;
  }
}

@media (max-width: 376px) {
  .service-wrapper {
    padding: 40px 0px 40px 0px;
  }
}

@media (max-width: 321px) {
  .service-sec {
    margin-top: 27rem;
  }

  .service-title .sec-title {
    font-size: 28px;
    line-height: 40px;
  }

  .service-card {
    padding-inline: 0px;
  }
}

/* 6. review section */
.review-sec {
  background: #faf8f6;
  padding-block: 7.5rem;
  margin-top: 5rem;
}

.review-sec .container .sec-title {
  width: 47%;
}

.swiper {
  margin-top: 37px;
}

.review-card {
  background: #fff;
  box-shadow: 0px 96px 96px 0px rgba(177, 186, 200, 0.12);
  display: inline-flex;
  padding: 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.review-card h4 {
  color: var(--txt-clolor);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.72px;
}

.review-card h6 {
  color: var(--title-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.72px;
}

/********** mobile responsive ***********/
@media (max-width: 1025px) {
  .review-sec .container .sec-title {
    width: 60%;
  }

  .container-fluid {
    padding-inline: 0;
  }
}

@media (max-width: 768px) {
  .review-sec .container .sec-title {
    width: 90%;
    text-align: center;
    margin-inline: auto;
  }

  .review-card h4,
  .review-card h6 {
    font-size: 20px;
  }
}
